.container {
  display: flex;
  flex-direction: row;
  padding: 24px;
}

.tabs {
  display: flex;
  flex-direction: column;
  background-color: darkblue;
  color: white;
  padding: 16px;
  cursor: pointer;
}

.tab_content {
  background-color: lightblue;
  color: darkblue;
  padding: 16px;
}

.selected {
  text-decoration: underline;
  background-color: white;
  color: lightskyblue;
}

.unselected {
  text-decoration: none;
  color: white;
}

.table-header {
  font-weight: bold;
}

table {
  border: none;
}

tbody tr:nth-child(odd){
  background-color: rgb(151, 177, 226);
  color: #fff;
}

thead {
  background-color: #fff;
}

thead td {
  cursor: pointer;
}

td {
  padding: 10px;
}