.header {
  font-size: 56px;
  text-align: center;
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: rgb(248, 214, 171);
}

.container {
  display: flex;
  flex-direction: row;
  padding: 24px;
}

.tabs {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  color: white;
  padding: 16px;
  cursor: pointer;
}

.tab_content {
  background-color: rgb(230, 241, 245);
  width: 100%;
  color: rgb(27, 110, 161);
  padding: 16px;
}

.selected {
  text-decoration: underline;
  background-color: white;
  color: rgb(27, 110, 161);
}

.unselected {
  text-decoration: none;
  color: #67787c;
}

.unselected:hover{
  text-decoration: underline;
}

.table-header {
  font-weight: bold;
}

button.sort-button, .input {
  padding: 8px;
  margin: 8px 0;
  background-color: #fff;
  border: 1px solid rgb(253, 154, 24);
}

.mX {
  margin-left: 16px;
}

button.sort-button {
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}

table {
  border: none;
}

tbody tr:nth-child(odd){
  background-color: rgb(204, 236, 255);
}

thead {
  background-color: rgb(248, 214, 171);
}

thead td {
  cursor: pointer;
}

td {
  padding: 10px;
}